.skills {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  column-gap: 2rem;
  row-gap: 4rem;
  grid-template-areas:
    'heading heading'
    'front back';

  @include respond(tab-port) {
    grid-template-columns: 100%;
    grid-template-areas:
      'heading'
      'front'
      'back';
  }

  &__heading {
    grid-area: heading;
    display: inline;
  }

  &__logo {
    height: 10rem;
    display: block;
    margin: 1rem auto;
  }

  &__front {
    grid-area: front;
    text-align: center;

    &--heading {
      display: block;
      color: $color-primary-light;
    }

    &--content {
      width: 80%;
      margin: 0 auto;
      background-color: $color-grey-light-1;
      border: 1px solid $color-grey-dark-1;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.2);
    }

    &--list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      padding: 5rem;
    }

    &--icon {
      color: $color-grey-dark-4;
      height: 7rem;
      transition: all 0.2s ease-out;

      @include respond(phone) {
        font-size: 6em;
      }
    }

    &--icon:hover {
      transform: scale(1.1);
    }

    &--icon-nextjs {
      height: 7rem;
      transition: all 0.2s ease-out;
      filter: invert(9%) sepia(1%) saturate(1034%) hue-rotate(314deg) brightness(96%) contrast(72%);
      @include respond(phone) {
        height: 6rem;
      }
    }

    &--icon-nextjs:hover {
      transform: scale(1.1);
    }

    &--label {
      font-size: 1.5rem;
      @include respond(phone) {
        font-size: 1.2rem;
      }

      & span {
        @include respond(phone) {
          display: block;
        }
      }
    }

    &--label-nextjs {
      font-size: 1.5rem;
      transform: translateY(-0.5rem);
      @include respond(phone) {
        font-size: 1.2rem;
        transform: translateY(.5rem);
      }

      & span {
        @include respond(phone) {
          display: block;
        }
      }
    }
  }

  &__back {
    grid-area: back;
    text-align: center;

    &--heading {
      display: block;
      color: $color-primary-light;
    }

    &--content {
      width: 80%;
      margin: 0 auto;
      background-color: $color-grey-light-1;
      border: 1px solid $color-grey-dark-1;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.2);
    }

    &--list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      padding: 5rem;
    }

    &--icon {
      color: $color-grey-dark-4;
      height: 7rem;
      filter: invert(22%) sepia(0%) saturate(7257%) hue-rotate(82deg)
        brightness(86%) contrast(98%);
      transition: all 0.2s ease-out;

      @include respond(phone) {
        font-size: 6em;
        height: 6rem;
      }
    }

    &--icon:hover {
      transform: scale(1.1);
    }

    &--icon-express {
      // color: $color-grey-dark-3;
      height: 7rem;
      transition: all 0.2s ease-out;

      @include respond(phone) {
        height: 6rem;
      }
    }

    &--icon-express:hover {
      transform: scale(1.1);
    }

    &--label {
      font-size: 1.5rem;
      @include respond(phone) {
        font-size: 1.2rem;
      }
    }
  }
}
